Screen {
}

Header {
    height: 3;
    dock: top;
}

#Commands {
    # column-span: 1;
    # align: center middle;
    dock: left;
    width: 30;
    padding-top: 3;
}

#Overview {
    height: 15;
}

#Log {
    height: auto;
}

# #bar {
#     width: 1fr;
# }
VerticalGroup {
    align: center middle;
}

#TotalProgress {
}
#CurrentProgress {
}

Footer {
    height: 1;
    dock: bottom;
}